<div class="background">
   <div class="container-fluid">
   
   <h1 style="color:indigo;">About Us :</h1><br/><br/>
   
   <h2 style="color: darkred;"><b>Vision</b></h2>
   <p style="color: white;">"eTour-The World Class Travel Company, Spreading Smiles and Happiness..."</p>
   
   <h2 style="color: darkred;"><b>Mission</b></h2>
   <p style="color: white;">eTour is passionately committed to Total Quality Travel, with continual delivery of value added services. <br/><br/>
      We uphold the highest ethical standards and believe in creating new benchmarks in the industry.
   </p>
   </div>
   </div>